In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

### Часть 1

Источник данных тут https://www.ssa.gov/oact/babynames/limits.html

План:
1. Скачать архив
2. Распаковать
3. Взять данные за 1880 год и присвоить имена колонкам: имя, пол, количество родившихся.
4. Найти сколько всего уникальных имен мальчиков и девочек.
5. Сколько всего родилось мальчиков и девочек.

In [5]:
#Read 
names = pd.read_csv('C:/Users/Sk/Desktop/DS/yob1880.txt',names = ['Name','Sex','Num'])
names

           Name Sex   Num
0          Mary   F  7065
1          Anna   F  2604
2          Emma   F  2003
3     Elizabeth   F  1939
4        Minnie   F  1746
...         ...  ..   ...
1995     Woodie   M     5
1996     Worthy   M     5
1997     Wright   M     5
1998       York   M     5
1999  Zachariah   M     5

[2000 rows x 3 columns]

In [16]:
# ответ 1.3, ваш код
names.groupby('Sex').Name.nunique()

Sex
F     942
M    1058
Name: Name, dtype: int64

In [17]:
#Если нет дубликатов 
names.groupby('Sex').Name.count()

Sex
F     942
M    1058
Name: Name, dtype: int64

In [21]:
# ответ 1.5, ваш код
names.groupby('Sex').sum()['Num']

Sex
F     90994
M    110490
Name: Num, dtype: int64

### Часть 2

План:
1. Собрать единую таблицу из разных файлов
2. Построить сводную таблицу по годам для количества рожденных мальчиков и девочек
3. Рисуем график рождаемости (2 графика matplotlib, seaborn)

In [26]:
# ответ 2.1, ваш код
years = range(1880,2020)
df_list=[]
for year in years:
    #path = "C:/Users/ma102/Downloads/names/yob"+str(year)+".txt"
    path = "C:/Users/Sk/Desktop/DS/yob%d.txt"%year
    df=pd.read_csv(path,names=["Name","Sex","Birth"])
    df["Year"]=year
    df_list.append(df)
names=pd.concat(df_list,ignore_index=True)

In [29]:
names

              Name Sex  Birth  Year
0             Mary   F   7065  1880
1             Anna   F   2604  1880
2             Emma   F   2003  1880
3        Elizabeth   F   1939  1880
4           Minnie   F   1746  1880
...            ...  ..    ...   ...
1989587     Zyheem   M      5  2019
1989588      Zykel   M      5  2019
1989589     Zyking   M      5  2019
1989590        Zyn   M      5  2019
1989591      Zyran   M      5  2019

[1989592 rows x 4 columns]

In [45]:
# ответ 2.2, ваш код Построить сводную таблицу по годам для количества рожденных мальчиков и девочек
pivot = names.pivot_table(index = 'Year', columns = 'Sex', aggfunc = np.sum)

Int64Index([1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889,
            ...
            2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
           dtype='int64', name='Year', length=140)

In [47]:
# ответ 2.3, ваш код Рисуем график рождаемости (2 графика matplotlib, seaborn) 
sns.relplot(data = pivot, x = 'Year', y = 'Birth')

ValueError: Shape of passed values is (2, 2), indices imply (140, 2)

### Часть 3.

План (пишем свои функции):
1. Найдем для каждого имени долю детей с данным именем относительно общего количества родившихся детей в году в зависимости от пола. Результат добавить отдельным столбцом в таблицу - процент.
2. Отберем 1000 имен самых популярных имен для каждой каждого года в зависимости от пола. Результат сохранить в виде таблицы top_1000

In [8]:
# ответ 3.1, ваш код

In [9]:
# ответ 3.2, ваш код

### Часть 4.

План (построить график):

Найдем по два самых популярных в истории имени мальчиков и девочек и построим графики:
1.	В абсолютном значении - как менялось количество родившихся мальчиков с двумя самыми популярными именами в зависимости от года
2.	В относительном значении - как менялось количество родившихся девочек с двумя самыми популярными именами в зависимости от года
3. Построим в абсолютном значении график для всех четывех имен.

In [10]:
# ответ 4.1, ваш код

In [11]:
# ответ 4.2, ваш код

In [12]:
# ответ 4.3, ваш код

### Часть 5.

Свободное задание: построить зависимость, отражающую растущее разнообразие имен в зависимости от года.

In [13]:
# ответ 5, ваш код

### Часть 6.

Свободное задание: построить тренд, отражающий количество самых популярных имен для 50% родившехся мальчиков и девочек

In [14]:
# ответ 6, ваш код

### Часть 7.

В 2007 году исследователь детских имен Лора Ваттенберг указала на своем веб-сайте, 
что распределение имен мальчиков по последним буквам значительно изменилось за последние 100 лет.

Подтвердите или опровергните это утверждение (в сравнении 1910, 1940, 1970, 2020 года)

А что с девочками?

In [15]:
# ответ 7, ваш код

### Часть 8.

Смена половой предпочтительности имени Leslie-Lesly (корень Lesl). Построить график.

In [16]:
# ответ 7, ваш код